body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 550px;
    margin-left: 550px;
    overflow: hidden;
    height: 500px;
    width: 420px;
    border: solid 2px rgb(240, 235, 235);
    border-radius: 8px;
}

.container {
    text-align: center;
    font-style: inherit;

}

.container img {
    margin-top: 20px;
    height: 40pxpx;
    width: 90px;
}

.container h2 {
    font-optical-sizing: 500px;
}

input {
    height: 40px;
    width: 350px;
    border-color: rgb(13, 111, 248);
    border-radius: 5px;

}

h3 {
    margin-left: 30px;
    color: rgb(26, 112, 233);
}

.content h3 {
    padding-top: 30px;
}

.content button {
    cursor: pointer;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(26, 112, 233);
    color: white;
    border: 0px;
    margin-left: 150px;
    margin-top: 45px;
}

.content {
    display: flex;
}